server:
  port: ${PORT:8080}

spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"
            allowCredentials: false
      routes:
        - id: auth-service
          uri: ${AUTH_SERVICE_URL:http://${AUTH_SERVICE_HOSTPORT:localhost:9001}}
          predicates:
            - Path=/auth/**
          filters:
            - StripPrefix=0
        - id: user-service
          uri: ${USER_SERVICE_URL:http://${USER_SERVICE_HOSTPORT:localhost:9002}}
          predicates:
            - Path=/users/**
          filters:
            - StripPrefix=0
        - id: course-service
          uri: ${COURSE_SERVICE_URL:http://${COURSE_SERVICE_HOSTPORT:localhost:9003}}
          predicates:
            - Path=/courses/**
          filters:
            - StripPrefix=0
        - id: enrollment-service
          uri: ${ENROLLMENT_SERVICE_URL:http://${ENROLLMENT_SERVICE_HOSTPORT:localhost:9004}}
          predicates:
            - Path=/enrollments/**
          filters:
            - StripPrefix=0
        - id: assessment-service
          uri: ${ASSESSMENT_SERVICE_URL:http://${ASSESSMENT_SERVICE_HOSTPORT:localhost:9005}}
          predicates:
            - Path=/assessments/**
          filters:
            - StripPrefix=0
        - id: submission-service
          uri: ${SUBMISSION_SERVICE_URL:http://${SUBMISSION_SERVICE_HOSTPORT:localhost:9006}}
          predicates:
            - Path=/submissions/**
          filters:
            - StripPrefix=0
        - id: grading-service
          uri: ${GRADING_SERVICE_URL:http://${GRADING_SERVICE_HOSTPORT:localhost:9007}}
          predicates:
            - Path=/grading/**
          filters:
            - StripPrefix=0
        - id: analytics-service
          uri: ${ANALYTICS_SERVICE_URL:http://${ANALYTICS_SERVICE_HOSTPORT:localhost:9008}}
          predicates:
            - Path=/analytics/**
          filters:
            - StripPrefix=0
        - id: realtime-service-ws
          uri: ${REALTIME_SERVICE_WS_URL:ws://${REALTIME_SERVICE_HOSTPORT:localhost:9009}}
          predicates:
            - Path=/ws/**
          filters:
            - StripPrefix=0
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: when_authorized
